/* Reset general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Estilos para imagenes */
.img-fit {
  object-fit: cover;
}

.img-card {
  aspect-ratio: 2/3;
}

.img-sqr {
  aspect-ratio: 1/1;
}
